<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <body class="text-center enter-field">

    <main class="enter-position">
      <form>

        <%= image_tag("logo-blue.png", class: 'logo') %>

        <h1 class="h3 mb-3 fw-normal"><%= "Forgot your password?" %></h1>

        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>

        <button class="w-100 btn btn-lg btn-primary margin-button" type="submit">
          <%= "Send me reset password instructions" %>
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>

        <%= render "devise/shared/links" %>

      </form>
    </main>
  </body>
<% end %>

