<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

 <body class="text-center enter-field">

<main class="enter-position">
  <form>

  <%= image_tag("logo-blue.png", class: 'logo') %>

    <h1 class="h3 mb-3 fw-normal"><%= t("Log in") %></h1>

    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>

      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>

    <% if devise_mapping.rememberable? %>
      <label class="checkbox mb-3 remember-me">
        <%= f.check_box :remember_me%>
        <%= f.label t('remember me') %>
      </label>
    <% end %>

    <button class="w-100 btn btn-lg btn-primary" type="submit"> <%= t("Log in") %></button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>

      <%= render "devise/shared/links" %>

  </form>
</main>

</body>

<% end %>
